<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="static/style.css" />
        <link rel="icon" href="static/image/favicon.png" />
        <title>{% block title %}{% endblock %}-Jacob Stuart</title>
        {% endblock %}
    </head>
    <body>
        <ul id="navigation">
            {% for item in navigation %}
                <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
            {% endfor %}
        </ul>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2025 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    </body>
</html>